<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head"/>
<body>

<!-- Barra de Navegación superior -->
<head th:replace="fragments/nav"/>



<div class="container">
  <h2 th:text="#{users}">Usuarios</h2>
  <p th:text="#{user.list}">Usuarios registrados en el sistema:</p>
    <div class="table-responsive">
      <table class="table table-hover" th:fragment="tableUsers" id="tableUsers">
  <table class="table table-hover">
    <thead>
      <tr>
        <th th:text="#{user.name}">Nombre</th>
        <th th:text="#{user.surname}">Apellidos</th>
          <th th:text="#{user.mail}">Email</th>
          <th th:text="#{user.role}">Role</th>
          <th th:text="#{user.suspend}">Estado</th>
		<th class="col-md-1"> </th>
		<th class="col-md-1"> </th>
      </tr>
    </thead>
	<tbody>
	  <tr th:each="user : ${userList}">
	    <td th:text="${user.name}"></td>
	    <td th:text="${user.surname}"></td>
          <td th:text="${user.mail}"></td>
          <td th:text="${user.role}"></td>
          <td th:if="${user.suspend}" th:text="#{user.stateSuspend}">Suspendida</td>
          <td th:if="${!user.suspend}" th:text="#{user.stateActive}">Activa</td>
          <td>
              <a th:if="${!user.suspend}" th:href="${'/admin/suspend/' + user.id}" th:text="#{user.suspendText}">suspender</a>
              <a th:unless="${!user.suspend}" th:href="${'/admin/activate/' + user.id}"th:text="#{user.activateText}">activar</a>
          </td>
	    <td><a th:href="${'/admin/delete/' + user.id}" th:text="#{user.delete}">eliminar</a></td>
	  </tr>
	</tbody>
  </table>
      </table>
  </div>
</div>

<footer th:replace="fragments/footer"/>
</body>
</html>
