<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head"/>
<body>
<script  th:inline="javascript" type="text/javascript">
    function addGame(i) {
        var combo = document.getElementById('combo'+i);
        var boton = document.getElementById('button'+i);
        var value = combo.value;
        boton.href = '/admin/information/' + i+ '/' + value;
    }
</script>
<!-- Barra de Navegación superior -->
<head th:replace="fragments/nav"/>


<div class="container">
  <h2 th:text="#{users}">Usuarios</h2>
  <p th:text="#{user.list.asociates}">Usuarios asociados a tu institución:</p>
    <table class="table table-hover">
        <thead>
        <tr>
            <th th:text="#{user.name}">Nombre</th>
            <th th:text="#{user.surname}">Apellidos</th>
            <th th:text="#{user.mail}">Email</th>
            <th class="col-md-1"> </th>
            <th class="col-md-1"> </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="jugadoresAsocidados : ${jugadoresAsocidados}">
            <td th:text="${jugadoresAsocidados.name}"></td>
            <td th:text="${jugadoresAsocidados.surname}"></td>
            <td th:text="${jugadoresAsocidados.mail}"></td>
            <td>
                <a th:text="#{view.report }" th:id="${'button'+jugadoresAsocidados.id}" th:onclick="'javascript:addGame(\''+ ${jugadoresAsocidados.id} +'\');'"> ver informes</a>
            </td>
            <td>
                <select th:id="${'combo'+jugadoresAsocidados.id}">
                    <option th:each="juego : ${juegos}"
                            th:value="${juego}"
                            th:text="${juego}">
                    </option>
                </select>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<footer th:replace="fragments/footer"/>
</body>
</html>
