
<nav class="navbar navbar-inverse">
    <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav" sec:authorize="isAuthenticated()">
            <li><a href="/">Home</a></li>
            <li sec:authorize="hasRole('ADMIN')" id= "users-menu" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" th:text="#{nav.usermanagement}">
                    Gestión de Usuarios <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li sec:authorize="hasRole('ADMIN')"><a href="/user/add"  th:text="#{nav.adminreports}">Acceder a informes</a></li>
                    <li sec:authorize="hasRole('ADMIN')"><a href="/admin/list" th:text="#{nav.showusers}">Ver Usuarios</a></li>
                    <li sec:authorize="hasRole('ADMIN')"><a href="/user/add"  th:text="#{nav.addusers}">Agregar Usuario</a></li>

                </ul>
            </li>
            <li sec:authorize="hasRole('INSTITUCION')" id= "users-menu2" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" th:text="#{nav.usermanagement}">
                    Gestión de Usuarios <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li sec:authorize="hasRole('INSTITUCION')"><a href="/user/add"  th:text="#{nav.invitations}">Invitar usuarios</a></li>
                    <li sec:authorize="hasRole('INSTITUCION')"><a href="/institution/listUsers" th:text="#{nav.include}">Incluir usuarios</a></li>
                    <li sec:authorize="hasRole('INSTITUCION')"><a href="/user/add"  th:text="#{nav.adminreports}">Acceder a informes</a></li>
                </ul>
            </li>
            <li sec:authorize="hasRole('CUIDADOR')" id= "users-menu3" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" th:text="#{nav.usermanagement}">
                    Gestión de Usuarios <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li sec:authorize="hasRole('CUIDADOR')"><a href="/user/add"  th:text="#{nav.adminreports}">Acceder a informes</a></li>
                    <li sec:authorize="hasRole('CUIDADOR')"><a href="/user/add"  th:text="#{nav.register}">Registrar pacientes</a></li>
                </ul>
            </li>

            <li sec:authorize="hasRole('CUIDADOR')" id= "profile-menu" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" th:text="#{nav.profile}">
                    Profile<span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li sec:authorize="hasRole('CUIDADOR')"><a href="/cuidador/addphoto"  th:text="#{nav.editimage}">Editar imagen</a></li>
                    <li sec:authorize="hasRole('CUIDADOR')"><a href="/user/add"  th:text="#{nav.solicitude}">Solicitar adscripción </a></li>
                </ul>
            </li>

            <li sec:authorize="hasRole('JUGADOR')" id= "profile-menu2" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" th:text="#{nav.profile}">
                    Profile<span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li sec:authorize="hasRole('JUGADOR')"><a href="/user/add"  th:text="#{nav.editimage}">Editar imagen</a></li>
                </ul>
            </li>
            <li sec:authorize="hasRole('ADMIN')" id= "games-menu" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" th:text="#{nav.usermanagement}">
                    Gestión de Juegos <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li sec:authorize="hasRole('ADMIN')"><a href="/user/add"  th:text="#{nav.addgame}">Agregar Usuario</a></li>

                </ul>
            </li>
            <li sec:authorize="hasRole('INSTITUCION')" id= "games-menu2" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" th:text="#{nav.gamemanagement}">
                    Gestión de Juegos <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li sec:authorize="hasRole('INSTITUCION')"><a href="/user/add"  th:text="#{nav.selectgame}">Seleccionar juegos</a></li>

                </ul>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a id="btnLanguage" href="
 #" class="dropdown-toggle" data-toggle="dropdown" role="button"
                   aria-haspopup="true" aria-expanded="false"> <span
                        th:text="#{language.change}"></span> <span class="caret"></span>
                </a>
                <ul id="languageDropdownMenuButton" class="dropdown-menu">
                    <li>
                        <a id="btnEnglish" value="EN"> <img
                                th:src="@{/img/if_uk_flag.png}"
                                style="border: 0; float: left; margin-right: 15px" /> <span
                                th:text="#{language.en}">Inglés</span>
                        </a>
                    </li>
                    <li>
                        <a id="btnSpanish" value="ES"> <img
                                th:src="@{/img/if_spain_flag.png}"
                                style="border: 0; float: left; margin-right: 15px" /> <span
                                th:text="#{language.es}">Español</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li sec:authorize="!isAuthenticated()">
                <a href="/singup" th:text="#{signup.message}">
                    <span class="glyphicon glyphicon-user"></span>
                    Registrate
                </a>
            </li>
            <li sec:authorize="!isAuthenticated()">
                <a href="/login" th:text="#{login.message}">
                    <span class="glyphicon glyphicon-log-in"></span>
                    Identifícate
                </a>
            </li>
            <li sec:authorize="isAuthenticated()">
                <a href="/logout" th:text="#{logout.logout}">
                    <span class="glyphicon glyphicon-log-out"></span>
                    Desconectar
                </a>
            </li>
        </ul>
    </div>

</nav>