<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <script
          src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js">
  </script>
  <script
          src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
  </script>
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/css/custom.css" />
  <script src="/script/languages.js"> </script>
</head>
<body>

<!-- Barra de Navegación superior -->
<head th:replace="fragments/nav"/>

<div class="container">
  <h2 th:text="#{nav.addusers}">Agregar Usuario</h2>
  <form class="form-horizontal" method="post" action="/cuidador/add" th:object="${user}">
    <div class="form-group">
      <label class="control-label col-sm-2" for=”role” th:text="#{user.role}">Role:</label>
      <div class="col-sm-10">
        <select id="role" class="form-control" name="role">
          <option th:each="role : ${rolesList}"
                  th:value="${role}"
                  th:text="${role}">
          </option>
        </select>
      </div>
    </div>
    <div th:if="${institutionList.size() > 0}" class="form-group">
      <label class="control-label col-sm-2" for=”institucion” th:text="#{user.institution}">Institución:</label>
      <div class="col-sm-10">
        <select id="institucion" class="form-control" name="institucion">
          <option th:each="institucion : ${institutionList}"
                  th:value="${institucion.name}"
                  th:text="${institucion.name}">
          </option>
        </select>
      </div>
    </div>
    <div class="form-group" >
      <label class="control-label col-sm-2" for="mail" th:text="#{user.mail}">Email:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="mail"
               placeholder="99999999Y" required="true" />
        <span class="text-danger" th:if="${#fields.hasErrors('mail')}"
              th:errors="*{mail}"/>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="name" th:text="#{user.name}">Nombre:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="name" id="name"
               placeholder="Ejemplo: Juan" required="true" />
        <span class="text-danger" th:if="${#fields.hasErrors('name')}"
              th:errors="*{name}"/>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="surname" th:text="#{user.surname}">Apellidos:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="surname"
               placeholder="Ejemplo: Peréz Almonte" required="true" />
        <span class="text-danger" th:if="${#fields.hasErrors('surname')}"
              th:errors="*{surname}"/>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="password" th:text="#{user.password}">Contraseña:</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" name="password"
               placeholder="Entre el Password" />
        <span class="text-danger" th:if="${#fields.hasErrors('password')}"
              th:errors="*{password}"/>
      </div>
    </div>
    <div class="form-group" >
      <label class="control-label col-sm-2" for="passwordConfirm" th:text="#{user.confirmpassword}">Repita
        la contraseña:</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" name="passwordConfirm"
               placeholder="Repita el Password" />
        <span class="text-danger" th:if="${#fields.hasErrors('passwordConfirm')}"
              th:errors="*{passwordConfirm}"/>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary" th:text="#{button.sent}">Enviar</button>
      </div>
    </div>
  </form>
</div>
<footer th:replace="fragments/footer"/>
</body>
</html>
