<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js">
    </script>
    <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
    </script>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/custom.css" />
    <script src="/script/languages.js"> </script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>


</head>
<body>
<!-- Barra de Navegación superior -->
<head th:replace="fragments/nav"/>
<div id="prueba" class="container">
    <h2 id="informe">Informe del usuario</h2>
</div>
<script  th:inline="javascript" type="text/javascript">
    var theList = [[${listaConDatos}]]

    function createTable(index){
        var tabla   = document.createElement("table");
        var tblBody = document.createElement("tbody");

        var hilera = document.createElement("tr");
        for (var iFirstRow = 0; iFirstRow < 3; iFirstRow++) {
            var celda = document.createElement("th");
            if(iFirstRow==0){
                var textoCelda = document.createTextNode("Average");
            }else if(iFirstRow==1){
                var textoCelda = document.createTextNode("Max");
            }else if(iFirstRow==2){
                var textoCelda = document.createTextNode("Min");
            }
            celda.appendChild(textoCelda);
            hilera.appendChild(celda);
        }
        tblBody.appendChild(hilera);


        let parts = theList[index].split('-');
        var array = new Array();
        var sumaMedia = 0;
        for (var iarray = 3; iarray < parts.length; iarray++) {
            array.push(parseInt(parts[iarray]));
            sumaMedia+=parseInt(parts[iarray]);
        }
        var media = sumaMedia / (parts.length-1)
        var max = Math.max.apply(Math, array);
        var min = Math.min.apply(Math, array);

        var hileraDatos = document.createElement("tr");
        for (var j = 0; j < 3; j++) {
            var celdaTd = document.createElement("td");
            if(j==0){
                var textoCeldaTd = document.createTextNode(String(media));
            }else if(j==1){
                var textoCeldaTd = document.createTextNode(String(max));
            }else if(j==2){
                var textoCeldaTd = document.createTextNode(String(min));
            }
            celdaTd.appendChild(textoCeldaTd);
            hileraDatos.appendChild(celdaTd);

        }
        tblBody.appendChild(hileraDatos);
        tabla.appendChild(tblBody);
        document.body.appendChild(tabla);
        tabla.setAttribute("border", "3");
    }

    function createDiv(i) {
        var p = document.createElement('p')
        p.id = i
        document.body.appendChild(p);

        var div = document.createElement('div')
        div.id = "linechart_material" + i
        div.className = "container";
        document.body.appendChild(div);

        var p = document.createElement('p')
        document.body.appendChild(p);
        createTable(i);
    }

    var creadoUnGraph = false;
    for (i = 0; i < theList.length; i++) {
        let parts = theList[i].substring(13).split('-');
        if(parts.length > 2 ) {
            creadoUnGraph = true;
            createDiv(i);
        }
    }

    if(!creadoUnGraph){
        var h3 = document.createElement('h3')
        h3.textContent = 'No data has been recorded yet'
        var elem = document.getElementById("informe");
        elem.parentNode.removeChild(elem);
        document.getElementById("prueba").appendChild(h3);
    }
</script>

<script th:inline="javascript" type="text/javascript">
    var theList = [[${listaConDatos}]]
    google.charts.load('current', {'packages':['line']});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
        for (index = 0; index < theList.length; index++) {
            var data = new google.visualization.DataTable();
            console.log(index);
            let parts = theList[index].split('-');
            if(parts.length > 2) {
                data.addColumn('string', parts[0] + " " + "(sec)");
                data.addColumn('number', parts[0] + " " + "(sec)");
                let rows = [];
                for (i = 3; i < parts.length; i++) {
                    //data.addRow(['Mushrooms', 3]);
                    data.addRow([String(i-2) +" try", parseInt(parts[i])]);
                }

                // Set chart options
                var options = {
                    'title': parts[1] + " info",
                    'width': 400,
                    'height': 300,
                    titleTextStyle: {
                        fontSize: 24,
                        bold: true
                    }
                };

                var chart = new google.charts.Line(document.getElementById('linechart_material'+index));
                chart.draw(data, google.charts.Line.convertOptions(options));
            }

        }
    }
</script>
<script th:inline="javascript" type="text/javascript">
    var theList = [[${listaConDatos}]]
    var csvFileData = [];
    var nameGames = [];

    for (icsv = 0; icsv < theList.length; icsv++) {
        let data = theList[icsv].split('-');
        var dataRecorded = data[0];
        let parts = theList[icsv].split('-');
        var csvRow = [];
        for(iparts=1; iparts < parts.length; iparts++){
            if(iparts==1){
                nameGames.push(parts[iparts]+";");
            }else{
                csvRow.push(parts[iparts]);
            }
        }
        csvFileData.push(csvRow);

    }

    function download_csv_file() {
        var csv = 'Game'+';'+ dataRecorded +'\n';

        var counter = 0;
        csvFileData.forEach(function(row) {
            csv += nameGames[counter];
            csv += row.join(',');
            csv += "\n";
            counter++;
        });

        var hiddenElement = document.createElement('a');
        hiddenElement.href = 'data:text/csv;charset=utf-8,' + encodeURI(csv);
        hiddenElement.download = 'info.csv';
        hiddenElement.click();
    }
</script>
<style type="text/css">
    body { text-align:center; }
</style>
<button onclick="download_csv_file()"> Download CSV </button>
<p style="background-color:white"></p>
<footer th:replace="fragments/footer"/>
</body>
</html>